modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["zip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install express mongoose ejs nodemailer path mongodb-memory-server && node app.js"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "npm install express mongoose ejs nodemailer path mongodb-memory-server && node app.js"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 80
